body {
    margin: 0px;
    font-family: SansSerif, sans-serif;
}

.header-style {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100px;
    width: 100%;
    background: cornflowerblue;
    text-align: center;
    font-size: large;
    z-index: 1000;
}

.nav-style {
    position: fixed;
    left: 0%;
    top: 100px;
    height: 20px;
    width: 100%;
    background: deepskyblue;
    z-index: 1000;
}

.logout-button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.nav-button {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    cursor: default;
}

.nav-button-shown {
    background-color: pink;
}

.nav-logout-form {
    float: right;
}

.nav-button-selected {
    background-color: crimson;
}

article {
    border-color: cornflowerblue;
    position: relative;
    top: 120px;
    z-index: 1;
}

table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 70%;
}

table, tr, td {
    border: 1px solid cornflowerblue;
    border-collapse: collapse;
}

.table-row-enter {
    background-color: coral;
}

.hidden {
    display: none;
}